nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	margin-left: 10px;
}
/* 
nav > i {
    display: none;
} */

li {
	display: flex;
	flex-direction: row;
	margin-left: 0%;
	margin-right: 0px;
}

Span {
	font-size: xx-large;
	font-weight: bolder;
	margin-left: 4px;
	margin-left: 0%;
}

i.fa-solid.fa-bars {
	display: none;
}

.show {
	display: block;
	background-color: red;
}

#drop-down {
	display: none;
}
@media screen and (max-width: 375px) {
	div#First-nav {
		display: none;
	}
	i.fa-solid.fa-bars {
		margin-left: auto;
		margin-top: 20px;
		display: block;
		position: absolute;
		right: 5px;
	}
	nav {
		/* background-color: red; */
		width: 100%;
	}

	div#Second-nav {
		display: none;
	}

	aside > img {
		width: 200px;
	}
	div.hero-text > h1 {
		font-size: 22px;
	}

}

img.img-fluid.img-thumbnail {
	background-color: #392F52;
}

footer {
	height: 200px;
	width: 97%;
	background-color: #232027;
}

picture {
	display: flex;
	flex-wrap: wrap;
	background-image: url(./images/bg-shorten-desktop.svg);
	height: 200px;
	background-repeat: no-repeat;
	background-color:#392F52;
	flex-direction: column;
	text-align: center;
	color: aliceblue;
}

picture>button {
margin: auto;
}